.boddy{
 display:flex;
 
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: auto;
}

.intro{
    font-size: 3vw;
}
#introText{
 font-size: 5vw;

}
#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    color: rgb(107,5, 4);
    padding-left: .25vw;
    padding-right: .25vw;
    padding-top: .25vh;
    padding-bottom: .25vh;
    background-color: 0A2463;
    background-clip: border-box;
    border-top: 10vw;
    border: solid;
    border-radius: 100vw;
    border-width: .25vmax;
}
.serverBoxes{
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    font-size:inherit;
    display: flex;
    flex: 33vw;

}
.boxIndividual{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 250px;
    background-color: D1BCE3;
    margin-left: auto;
    margin-right: auto;  
    background-clip: content-box;
    padding: 20px;
}
.boxContent{
    margin: 15px;
}
.discordBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
}
